%p#notice= notice

%p
  %b Blood collection facility
  = link_to @blood_alert.blood_collection_facility, donors_blood_collection_facility_path(@blood_alert.blood_collection_facility)
%p
  %b Blood type:
  = @blood_alert.blood_type

= link_to 'Back', donors_blood_alerts_path
