.row
  .col-md-7.ml-auto.mr-auto
    .card.card-user
      .card-header
        %h5.card-title= 'New Donation'
      .card-body
        = render 'form'
        = link_to 'Back', donors_donations_path, class: 'btn btn-outline-default btn-round btn-sm'
